<div>
  <h1>Recipes</h1>

<%= link_to 'New Recipe', new_recipe_path, class: 'new-recipe-button' %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Preparation Time</th>
        <th>Cooking Time</th>
        <th>Description</th>
        <th>Public</th>
        <th>Recipe owner</th>
      </tr>
    </thead>
    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= link_to recipe.name, recipe %></td>
          <td><%= recipe.preparation_time.strftime("%H:%M:%S") %></td>
          <td><%= recipe.cooking_time.strftime("%H:%M:%S") %></td>
          <td><%= recipe.description %></td>
          <td><%= recipe.public? ? "Yes" : "No" %></td>
          <td><%= link_to recipe.user.name, user_path(recipe.user) %></td>
          <td>
            <%= button_to "Remove",
            recipe,
            method: :delete,
            title: "Delete recipe",
            class: "delete" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
