<h1>New Recipe</h1>

<%= form_with(model: @recipe, method: :post) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :preparation_time %>
    <%= form.time_field :preparation_time %>
  </div>

  <div>
    <%= form.label :cooking_time %>
    <%= form.time_field :cooking_time %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :public %>
    <%= form.check_box :public %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
